## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,57.51,68,100,17.43,overcast clouds
1,1,South Venice,US,27.0531,-82.4243,95.07,56,40,12.66,scattered clouds
2,2,Saskylakh,RU,71.9167,114.0833,46.49,73,94,4.99,overcast clouds
3,3,Bluff,NZ,-46.6000,168.3333,34.81,68,45,16.87,scattered clouds
4,4,Hobart,AU,-42.8794,147.3294,38.05,94,5,3.44,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Guider,CM,9.9342,13.9486,78.94,74,100,4.27,overcast clouds
11,11,Yar-Sale,RU,66.8333,70.8333,66.85,74,0,9.73,clear sky
13,13,Avarua,CK,-21.2078,-159.7750,71.65,68,75,11.50,broken clouds
15,15,Victoria,HK,22.2855,114.1577,84.96,88,100,11.01,overcast clouds
16,16,Ureki,GE,41.9956,41.7786,75.16,81,95,3.67,overcast clouds
18,18,Atuona,PF,-9.8000,-139.0333,77.07,68,86,16.08,overcast clouds
19,19,Rikitea,PF,-23.1203,-134.9692,71.94,61,100,31.25,overcast clouds
24,24,Vaini,TO,-21.2000,-175.2000,73.56,100,20,4.61,few clouds
28,28,Lagoa,PT,39.0500,-27.9833,73.62,83,96,16.40,light rain
30,30,Royan,FR,45.6285,-1.0281,82.78,24,59,12.62,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                356
City                   356
Country                353
Lat                    356
Lng                    356
Max Temp               356
Humidity               356
Cloudiness             356
Wind Speed             356
Current Description    356
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                353
City                   353
Country                353
Lat                    353
Lng                    353
Max Temp               353
Humidity               353
Cloudiness             353
Wind Speed             353
Current Description    353
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Guider,CM,78.94,overcast clouds,9.9342,13.9486,
11,Yar-Sale,RU,66.85,clear sky,66.8333,70.8333,
13,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,
15,Victoria,HK,84.96,overcast clouds,22.2855,114.1577,
16,Ureki,GE,75.16,overcast clouds,41.9956,41.7786,
18,Atuona,PF,77.07,overcast clouds,-9.8000,-139.0333,
19,Rikitea,PF,71.94,overcast clouds,-23.1203,-134.9692,
24,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,
28,Lagoa,PT,73.62,light rain,39.0500,-27.9833,
30,Royan,FR,82.78,broken clouds,45.6285,-1.0281,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

     # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
            
    except (IndexError):
        print("Hotel not found... skipping")
        pass

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [11]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
clean_hotel_df = hotel_df['Hotel Name'].replace("", np.nan)
clean_hotel_df = hotel_df.dropna(axis=0)

clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Guider,CM,78.94,overcast clouds,9.9342,13.9486,"AUBERGE LA GRACE , GÉRANT : OUDAWAREME BALTHAZAR"
11,Yar-Sale,RU,66.85,clear sky,66.8333,70.8333,Yalemd
13,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,Paradise Inn
15,Victoria,HK,84.96,overcast clouds,22.2855,114.1577,Mini Central
16,Ureki,GE,75.16,overcast clouds,41.9956,41.7786,Hotel Ritsa

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
plt.savefig("WeatherPy_vacation_map.png")